* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 
========================================
Headings
========================================
*/
h1 {
  font-size: 3rem;
  font-weight: 500;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 0.9rem;
  font-weight: 500;
  padding-bottom: 15px;
}

/* 
========================================
Background Images
========================================
*/
.background-image {
  width: 100%;
  z-index: 0;

  object-fit: cover;
  transform: scaleX(1);

  display: block;
}

.background-image--1 {
  height: 100%;
}

.background-image--2 {
  height: 300px;
  opacity: 0.7;
}

/* 
========================================
Buttons
========================================
*/
.navbar__btn--company::after {
  content: ' ÌŒ';
  font-size: 1rem;
  padding-left: 8px;
}

.console__second-row a,
.business-box a {
  width: max-content;
  padding: 14px 25px;

  background-color: #000;
  color: #fff;

  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;

  display: inline-block;
}

.navbar__btn {
  padding: 10px 12px;
  color: #fff;
  border-radius: 30px;

  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.navbar__btn:hover {
  background-color: rgb(99, 99, 99);
  transition-duration: 300ms;
  cursor: pointer;
}

.navbar__btn--withicon {
  width: 100%;
  height: 36px;
  margin-right: 10px;

  background-color: #000;
  outline: none;
  border: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-btn {
  font-size: 0.9rem;
  font-weight: 300;
  padding-bottom: 15px;
  color: #fff;
}

.footer-btn--help:hover {
  border-bottom: 1px solid #fff;
  padding-bottom: 25px;
}

.btn:hover,
.footer-btn:hover {
  cursor: pointer;
}

.navbar__btn--signup {
  background-color: #fff;
  color: black;
}

.navbar__btn--toggle {
  margin-left: 20px;
  background-color: #000;
  color: #fff;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar-toggle {
  visibility: hidden;
}

/* 
========================================
Layout
========================================
*/

.console-section {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.business-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.news-section,
.apps-section-container {
  max-width: 1240px;
  width: 80%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: (1fr, 1fr);
  grid-gap: 20px;
}

.about-section,
.signup-section {
  max-width: 1240px;
  width: 80%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.footer-container {
  max-width: 1240px;
  width: 90%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 180px repeat(6, auto);
  grid-gap: 20px;
}

/* 
========================================
Header
========================================
*/

header {
  top: 0;
  height: 70px;
  width: 100%;
  padding: 12px 5%;

  background-color: black;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-container {
  width: 72px;
}

.header__logo-container img {
  max-width: 100%;
}

nav {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.navbar--mainmenu {
  flex: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__center,
.navbar__aside,
.navbar--loginmenu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* 
========================================
Console Section(1st Section)
========================================
*/

.console-container {
  position: absolute;
  width: 80%;
  height: 540px;
  z-index: 1;

  display: flex;
}
.console {
  height: 100%;
  width: 50%;

  background-color: #fff;

  display: flex;
  flex-direction: column;
}

.console__first-row {
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-around;
}

.console__first-row__icon-box,
.console__second-row {
  height: 100%;
  padding: 20px 0;

  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.console__second-row {
  margin: 0 30px;

  align-items: flex-start;
  justify-content: space-around;
}

.console__first-row__icon-box img {
  padding-bottom: 10px;
  text-align: center;
}

.console__first-row__icon-box {
  width: 10%;
  text-align: center;
}

.console__first-row__icon-box:first-child {
  border-bottom: 5px solid black;
}

.console__second-row span {
  color: #000;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}

/* 
========================================
Business Section(2nd Section)
========================================
*/
.business-section {
  position: relative;
  height: 100%;
  width: 100%;
}

.business-container {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  width: 80%;
  height: 175px;
  z-index: 1;
  margin: 0 auto;
}

.business-box {
  grid-column: 1/ 9;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* 
========================================
News Section(3rd Section)
========================================
*/
.news-section {
  padding: 60px 0;
}
.news-section h2 {
  grid-row: 1 / 2;
  grid-column: span 12;

  padding-bottom: 20px;
}

.thumbnail-box__img img {
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}
.thumbnail-box {
  grid-row: 2 / 3;
  grid-column: span 6;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.thumbnail-box__article {
  flex: 1;
  height: min-content;

  display: block;
}

.thumbnail-box__article > h4 {
  padding-bottom: 8px;
}

.thumbnail-box__inner-container {
  padding-top: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.thumbnail-box__link {
  margin-right: 60px;
  width: max-content;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

/* 
========================================
About Section(4th Section)
========================================
*/

.about-section {
  padding: 60px 0;
}

.about-box__img img {
  padding-bottom: 10px;
}

.about-box {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-box__article {
  height: 150px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-box__inner-box {
  width: max-content;
  padding-top: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

/* 
========================================
Apps Section(5th Section)
========================================
*/

.apps-section {
  background-color: #f6f6f6;
  width: 100%;
}

.apps-section-container {
  padding: 60px 0;
  grid-gap: 40px;
}

.apps-section h2 {
  grid-row: 1 / 2;
  grid-column: span 12;

  padding-bottom: 20px;
}

.apps-box__img {
  width: 150px;
}

.apps-box__img img {
  width: 100%;
}

.apps-box {
  grid-row: 2/3;
  grid-column: span 6;

  padding: 24px 5px 24px 24px;

  background-color: #fff;
  border: 1px solid hsla(0, 0%, 0%, 0.12);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 
========================================
Signup Section(6th Section)
========================================
*/

.signup-section {
  grid-gap: 40px;
}

.signup-box {
  height: 85px;
  margin: 64px 0;

  border-bottom: 1px solid black;

  display: flex;
  justify-content: space-between;
}

/* 
========================================
Footer
========================================
*/

footer {
  background-color: #000;
  color: #fff;
  padding: 64px 0;
}

.footer__logo-container {
  margin-left: -15px;
}

.footer__logo-container img {
  height: 100px;
}

.help-section {
  grid-row: 1 / 2;
  grid-column: span 2;

  width: max-content;

  display: flex;
  flex-direction: column;
}

.topics {
  grid-row: 2 / 3;
  grid-column: span 3;

  font-weight: 300;
  width: max-content;

  display: flex;
  flex-direction: column;
}

.social-media-container {
  grid-row: 4 / 5;
  grid-column: 1 / 3;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social-media-box a {
  color: #f4f4f4;
  height: 48px;
  width: 48px;

  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media-container a:hover {
  background-color: rgb(99, 99, 99);
  transition-duration: 300ms;
}

.appstore-links-container {
  grid-row: 4 / 5;
  grid-column: 10 / 13;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.appstore-links {
  width: 120px;
  padding-right: 5px;
}
.appstore-links img {
  height: 100%;
  width: 100%;
}

.copyright {
  width: max-content;
  grid-row: 6 / 7;
  grid-column: auto;

  font-size: 0.8rem;
}

.privacy-terms {
  grid-row: 6 / 7;
  grid-column: 10 / 13;
  font-size: 0.8rem;

  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.privacy-terms a {
  color: #fff;
}

/* 
========================================
Media Queries
========================================
*/

@media (max-width: 1140px) {
  #navbar-toggle {
    visibility: visible;
  }

  .navbar--mainmenu {
    display: none;
  }

  .navbar--loginmenu {
    justify-content: flex-end;
    flex: 1;
  }

  .navbar__login-text {
    display: none;
  }

  .console-section {
    display: grid;
    grid-template-rows: auto auto;

    align-items: flex-start;
  }
  .console-container {
    grid-row: 1 / 2;
    position: static;
    width: 100%;
    height: min-content;
  }
  .console {
    width: 100%;
    height: min-content;
  }

  .console__first-row {
    justify-content: space-around;
  }

  .console__second-row {
    justify-content: space-around;
    height: 300px;
  }

  .background-image-container {
    grid-row: 2 / 3;
  }

  .background-image--1 {
    z-index: 1;
  }

  .appstore-links-container {
    grid-row: 5/6;
    grid-column: 1/3;
  }

  .privacy-terms {
    grid-column: 7 / 11;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.6rem;
  }
  .news-section,
  .apps-section-container,
  .about-section,
  .signup-section {
    width: 98%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  .about-section,
  .signup-section {
    grid-template-columns: 1fr;
  }

  .footer-container {
    width: 98%;
    grid-template-columns: repeat(1, auto);
  }

  .topics {
    grid-column: auto;
  }

  .topic--citizenship,
  .topic--travel {
    grid-row: 3 / 4;
  }

  .privacy-terms {
    grid-column: auto;

    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2.3rem;
  }
  .news-section,
  .apps-section-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }

  .news-section h2 {
    grid-column: span 4;
  }
  .thumbnail-box {
    grid-column: span 4;
    width: 100%;
  }
  .thumbnail-box:nth-of-type(2) {
    grid-row: 3/4;
  }

  .apps-box {
    grid-column: span 4;
  }
  .apps-box:nth-of-type(2) {
    grid-row: 3/4;
  }
  .apps-section h2 {
    grid-column: span 4;
  }
}
